.container {
    color: white;
}

h3 {
    color: white;
    text-align: center;
    font-size: x-large;
    letter-spacing: 1px;
    font-family: Arial;
    font-style: italic;
}

.btn-primary {
    background-color:#BB271B;
    border-color:#C9A366;
}

.btn-primary:hover {
    background-color:#C9A366;
    border-color:#BB271B;
}


#pictures {
    margin-top: 15px;
}

/* Zoom In #1 */
.programs {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.programs:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.modal-title {
    font-size: "25px";
}

/* .modal-content {
    font-style: "arial";
} */

/* Zoom In #1 */
/* .programs figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.programs figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */


/* .programs:hover {
    opacity: .8;
    height: 120%;
    width: 120%;
    display:block;
} */

.programInfo {
    position:absolute;
    text-align:center;
    width:100%;

}

.figure1 {
    height: 350px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

@media (max-width: 1200px) {

    .figure1 {
        height:300px;

    }

}

@media (max-width: 450px) {

    .figure1 {
        height:350px;

    }

}

