.btn-group-lg>.btn, .btn-lg {
    margin-top: 15px;
    width: 80%;
}

.modalTitle {
    font-size: 25px;
}

.modal-title {
    font-size: 25px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
}

.modal-content {
    background-color:#C9A366;
    color:red;
    font-family:verdana;
    font-weight:bold;
}

/* #modal-tooltip {
    
} */

h4 {
    text-decoration:underline;
}


ul {
    list-style: square outside url("./check1.png");
}

@media (max-width: 1200px ) {

    .modalTitle {
        font-size: 20px;
    }
}

@media (max-width: 625px ) {

    .modalTitle {
        font-size: 15px;
    }
}