body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url("./utils/hexagon.jpg") */
}

#wrapper {
  background-image: url("./utils/hardwood.jpg");
  /* margin-top: 135px; */
}