.NiqueHera {
   height:100%;
   width:100%;
   padding-top:10%;
}

.image-container {
    display: flex;
    justify-content: center;
  }

@media (max-width: 405px) {

    /* .Hera {
        padding-left: 17.5%
    } */

}