.footer {
  /* min-height: 100px; */
  background-color: #BB271B;
  position: relative;
  text-align:center;
  color:white;
}

.footer span {
  position: absolute;
  background-color:#BB271B;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  text-align:center;
  font-family:verdana;
  font-weight:bold;
  font-size:80%;
}
