.carousel .thumb:hover {
    height: 100px;
    width: 100px;
}

.carousel .control-dots {
    padding-left: 0px;
}

/* .thumbs :animated {
    transform: translate3d(-86px, 0px, 0px);
} */

.carousel .thumb {
    width:80px;
    height:80px;
}

.carousel .control-next.control-arrow {
    right: -3%;
}

.carousel .control-prev.control-arrow {
    left: -3%;
}

.carousel .control-prev.control-arrow:before {
    border-right: 15px solid white;
}

.carousel .control-next.control-arrow:before {
    border-left: 15px solid white;
}