.modal-container {
    position: relative;
    height:300px;
  }
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

.modal-dialog {
    width: fit-content;
    height: 100%
}

.fade {
    width: fit-content;
    height: 100%
}

.btn-group-lg>.btn, .btn-lg {
    margin-top: 15px;
}
