a:hover {
  font-size: 120%;
}

.navbar-brand:hover {
  font-size: 20px;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
  height:100px;
}
.navbar-inverse .navbar-brand {
  color: #C9A366;
}

#bar {
  border-color: #AB6D45;
  border-width: 3px;
  background-color: #BB271B;
  font-family: verdana;
  font-size: 110%;
}

.navbar {
  max-height: 170px;
}

.navbar-brand {
  font-size: 120%;
}

.navbar-inverse .navbar-nav>li>a {
  color: #C9A366;
}

.carousel.carousel-slider {
  border-color:white;
  border-style:solid;
}

@media (max-width: 767px) {

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color:#BB271B;
  width:fit-content;
  z-index:1000;
  position:absolute;
  font-size: 90%;
}

.navbar-brand {
  font-size: 140%;
}

}

@media (max-width: 990px) {
  #bar {
    font-size:95%;
  }
}

/* @media (max-width: 990px) {
  #bar {
    font-size:95%;
  }
} */

